body{
    margin: 0%;
    padding: 0%;
}
.mconntainer{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(135, 207, 235, 0.785),rgba(255, 255, 255, 0.566),rgba(0, 128, 0, 0.434)),url(/img/bc\ img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.navb{ 
    width: 80%;
    height: 5em;
   background-color: antiquewhite;
    
     display: flex;
     border: 2.8px solid rgba(0, 128, 0, 0.434);
     margin-left: 120px; 
     margin-bottom: 100px;
    
}  
.tool{
   display: flex;
}
    
.list{
    display: flex;
    gap: 50px;
    margin-top: 15px;
    list-style: none;
   
}
.lobco{
    width: 80px;
    height: 5.5em;
    margin-left: 20px;
    margin-right: 80px;
}
ul a{
    text-decoration: none;
}
li a{
     color: rgba(0, 128, 0, 0.434);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 600;

}
.navb:hover{
    background-color: aliceblue;


}
.home:hover{
 color: rgb(214, 200, 10);
 cursor: pointer;
}



.cnt1{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  
   font-weight: 700;
   margin-bottom: 20px;
background-color:  transparent;
   width: 900px;
   height: 50vh;

    
}
.cnt2{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
   text-align: center;
   background-color: transparent;
    font-weight: 700;
    width: 900px;
   height: 50vh;

}
.content{

display: flex;
   
}
.photo{
   width: 250px;
   height: 35vh;
   border-color: beige 6px;
   border-radius: 5px;
   border-style: solid 5px;
   
}